.sidebar {
    display: flex;
    flex-direction: column;
    margin-top: -30px;
}

.compose-btn {
    padding: 3px 10px 10px;
    border-radius: 40px ! important;
    box-shadow: 2px 2px 3px #ccc;
    margin-top: 20px ! important;
    margin-bottom: 20px ! important;
    margin-left: 10px ! important;
    max-width: 150px;
    cursor: pointer;
}

.compose-btn:hover {
    box-shadow: 5px 5px 6px rgb(182, 171, 171);
}